.login-bg {
  background-image: url('./../../assets/pic_left_det.svg');
}

.bg-item:nth-child(1) {
  background-image: url('./../../assets/rtbg.png');
}

.bg-item:nth-child(2) {
  background-image: url('./../../assets/rbbg.png');
}

.bg-item:nth-child(3) {
  background-image: url('./../../assets/lbbg.png');
}

.bg-item:nth-child(4) {
  background-image: url('./../../assets/ltbg.png');
}

@media only screen and (max-width: 1024px) {
  .login-bg {
    display: none;
  }

  .login-box {
    width: 100% !important;
    box-shadow: none !important;
    height: 100% !important;
  }

  .point-item,
  .bg-item {
    display: none !important;
  }

  #normal_login {
    padding: calc((100vh - 500px) / 2) 10vw !important;
    width: 100vw !important;
    box-sizing: border-box !important;
    height: 100vh !important;
  }

  .login-line,
  .ant-input-affix-wrapper {
    width: 100% !important;
  }
}